= form_for @task do |f|
  - if @task.errors.any?
    #error_explanation
      %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
      %ul
        - @task.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :owner_id
    = f.number_field :owner_id
  .field
    = f.label :request_at
    = f.datetime_select :request_at
  .field
    = f.label :finish_at
    = f.datetime_select :finish_at
  .field
    = f.label :result
    = f.number_field :result
  .field
    = f.label :check_result
    = f.number_field :check_result
  .field
    = f.label :checker_id
    = f.number_field :checker_id
  .field
    = f.label :check_at
    = f.datetime_select :check_at
  .field
    = f.label :url
    = f.text_field :url
  .actions
    = f.submit 'Save'
